
<ion-header>
  <app-head-colors></app-head-colors>
</ion-header>


<ion-content>
  <ion-grid class="contain-grid">

    <ion-row >
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <ion-text color="secondary">
          <h2> THE PLANTS </h2>
        </ion-text>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col size="6" *ngFor="let item of items">
        <div class="ion-padding" (click)="openTapItem(item.id)" >
          <img [src]="item.image" class="rounded"/>
          <div>
            <ion-text color="secondary">
              <p>{{item.title}}</p>
            </ion-text>
            <ion-badge color="warning">{{item.min}} - {{item.max}} %</ion-badge>
          </div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer>
  <app-foot-tabs></app-foot-tabs>
</ion-footer>

