<ion-grid class="centered">
  <ion-row>
    <ion-col>
      <ion-icon color="medium" name="newspaper-outline"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon color="primary" name="grid-outline"></ion-icon>
    </ion-col>
    <ion-col class="colum">
      <ion-icon color="light" name="leaf-outline" style="margin-top: 0.3em;"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon color="medium" name="notifications-outline"></ion-icon>
    </ion-col>      
    <ion-col>
      <ion-icon color="medium" name="person-outline"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>